@font-face {
    font-family: "fl-icons";
    font-display: block;
    src: url(../fonts/fl-icons_1.eot);
    src: url(../fonts/fl-icons.eot#iefix?v=3.15.7) format("embedded-opentype"),
    url(../fonts/fl-icons.woff2) format("woff2"),
    url(../fonts/fl-icons.ttf) format("truetype"),
    url(../fonts/fl-icons.woff) format("woff"),
    url(../fonts/fl-icons.svg#fl-icons) format("svg");
}
.wpcf7 .screen-reader-response {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    word-wrap: normal !important;
}

.wpcf7 form .wpcf7-response-output {
    margin: 2em 0.5em 1em;
    padding: 0.2em 1em;
    border: 2px solid #00a0d2; /* Blue */
}

.wpcf7 form.init .wpcf7-response-output,
.wpcf7 form.resetting .wpcf7-response-output,
.wpcf7 form.submitting .wpcf7-response-output {
    display: none;
}

.wpcf7 form.sent .wpcf7-response-output {
    border-color: #46b450; /* Green */
}

.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
    border-color: #dc3232; /* Red */
}

.wpcf7 form.spam .wpcf7-response-output {
    border-color: #f56e28; /* Orange */
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
    border-color: #ffb900; /* Yellow */
}

.wpcf7-form-control-wrap {
    position: relative;
}

.wpcf7-not-valid-tip {
    color: #dc3232; /* Red */
    font-size: 1em;
    font-weight: normal;
    display: block;
}

.use-floating-validation-tip .wpcf7-not-valid-tip {
    position: relative;
    top: -2ex;
    left: 1em;
    z-index: 100;
    border: 1px solid #dc3232;
    background: #fff;
    padding: .2em .8em;
    width: 24em;
}

.wpcf7-list-item {
    display: inline-block;
    margin: 0 0 0 1em;
}

.wpcf7-list-item-label::before,
.wpcf7-list-item-label::after {
    content: " ";
}

.wpcf7-spinner {
    visibility: hidden;
    display: inline-block;
    background-color: #23282d; /* Dark Gray 800 */
    opacity: 0.75;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 100%;
    padding: 0;
    margin: 0 24px;
    position: relative;
}

form.submitting .wpcf7-spinner {
    visibility: visible;
}

.wpcf7-spinner::before {
    content: '';
    position: absolute;
    background-color: #fbfbfc; /* Light Gray 100 */
    top: 4px;
    left: 4px;
    width: 6px;
    height: 6px;
    border: none;
    border-radius: 100%;
    transform-origin: 8px 8px;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@media (prefers-reduced-motion: reduce) {
    .wpcf7-spinner::before {
        animation-name: blink;
        animation-duration: 2000ms;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes blink {
    from {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.wpcf7 input[type="file"] {
    cursor: pointer;
}

.wpcf7 input[type="file"]:disabled {
    cursor: default;
}

.wpcf7 .wpcf7-submit:disabled {
    cursor: not-allowed;
}

.wpcf7 input[type="url"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"] {
    direction: ltr;
}

.wpcf7-reflection > output {
    display: list-item;
    list-style: none;
}

.wpcf7-reflection > output[hidden] {
    display: none;
}

.wp-block-button__link {
    color: #fff;
    background-color: #32373c;
    border-radius: 9999px;
    box-shadow: none;
    text-decoration: none;
    padding: calc(.667em + 2px) calc(1.333em + 2px);
    font-size: 1.125em
}

.wp-block-file__button {
    background: #32373c;
    color: #fff;
    text-decoration: none
}

.bg {
    opacity: 0;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

.bg-loaded {
    opacity: 1;
}

:root {
    --primary-color: #f30000;
}

.container-width, .full-width .ubermenu-nav, .container, .row {
    max-width: 1140px
}

.row.row-collapse {
    max-width: 1110px
}

.row.row-small {
    max-width: 1133px
}

.row.row-large {
    max-width: 1170px
}

.header-main {
    height: 80px
}

#logo img {
    max-height: 80px
}

#logo {
    width: 200px;
}

.header-top {
    min-height: 30px
}

.transparent .header-main {
    height: 90px
}

.transparent #logo img {
    max-height: 90px
}

.has-transparent + .page-title:first-of-type, .has-transparent + #main > .page-title, .has-transparent + #main > div > .page-title, .has-transparent + #main .page-header-wrapper:first-of-type .page-title {
    padding-top: 90px;
}

.header.show-on-scroll, .stuck .header-main {
    height: 70px !important
}

.stuck #logo img {
    max-height: 70px !important
}

.header-bg-color {
    background-color: #ffffff
}

.header-bottom {
    background-color: #f1f1f1
}

.header-main .nav > li > a {
    line-height: 16px
}

.stuck .header-main .nav > li > a {
    line-height: 50px
}

@media (max-width: 549px) {
    .header-main {
        height: 70px
    }

    #logo img {
        max-height: 70px
    }
}

/* Color */
.accordion-title.active, .has-icon-bg .icon .icon-inner, .logo a, .primary.is-underline, .primary.is-link, .badge-outline .badge-inner, .nav-outline > li.active > a, .nav-outline > li.active > a, .cart-icon strong, [data-color='primary'], .is-outline.primary {
    color: #f30000;
}

/* Color !important */
[data-text-color="primary"] {
    color: #f30000 !important;
}

/* Background Color */
[data-text-bg="primary"] {
    background-color: #f30000;
}

/* Background */
.scroll-to-bullets a, .featured-title, .label-new.menu-item > a:after, .nav-pagination > li > .current, .nav-pagination > li > span:hover, .nav-pagination > li > a:hover, .has-hover:hover .badge-outline .badge-inner, button[type="submit"], .button.wc-forward:not(.checkout):not(.checkout-button), .button.submit-button, .button.primary:not(.is-outline), .featured-table .title, .is-outline:hover, .has-icon:hover .icon-label, .nav-dropdown-bold .nav-column li > a:hover, .nav-dropdown.nav-dropdown-bold > li > a:hover, .nav-dropdown-bold.dark .nav-column li > a:hover, .nav-dropdown.nav-dropdown-bold.dark > li > a:hover, .header-vertical-menu__opener, .is-outline:hover, .tagcloud a:hover, .grid-tools a, input[type='submit']:not(.is-form), .box-badge:hover .box-text, input.button.alt, .nav-box > li > a:hover, .nav-box > li.active > a, .nav-pills > li.active > a, .current-dropdown .cart-icon strong, .cart-icon:hover strong, .nav-line-bottom > li > a:before, .nav-line-grow > li > a:before, .nav-line > li > a:before, .banner, .header-top, .slider-nav-circle .flickity-prev-next-button:hover svg, .slider-nav-circle .flickity-prev-next-button:hover .arrow, .primary.is-outline:hover, .button.primary:not(.is-outline), input[type='submit'].primary, input[type='submit'].primary, input[type='reset'].button, input[type='button'].primary, .badge-inner {
    background-color: #f30000;
}

/* Border */
.nav-vertical.nav-tabs > li.active > a, .scroll-to-bullets a.active, .nav-pagination > li > .current, .nav-pagination > li > span:hover, .nav-pagination > li > a:hover, .has-hover:hover .badge-outline .badge-inner, .accordion-title.active, .featured-table, .is-outline:hover, .tagcloud a:hover, blockquote, .has-border, .cart-icon strong:after, .cart-icon strong, .blockUI:before, .processing:before, .loading-spin, .slider-nav-circle .flickity-prev-next-button:hover svg, .slider-nav-circle .flickity-prev-next-button:hover .arrow, .primary.is-outline:hover {
    border-color: #f30000
}

.nav-tabs > li.active > a {
    border-top-color: #f30000
}

.widget_shopping_cart_content .blockUI.blockOverlay:before {
    border-left-color: #f30000
}

.woocommerce-checkout-review-order .blockUI.blockOverlay:before {
    border-left-color: #f30000
}

/* Fill */
.slider .flickity-prev-next-button:hover svg, .slider .flickity-prev-next-button:hover .arrow {
    fill: #f30000;
}

/* Background Color */
[data-icon-label]:after, .secondary.is-underline:hover, .secondary.is-outline:hover, .icon-label, .button.secondary:not(.is-outline), .button.alt:not(.is-outline), .badge-inner.on-sale, .button.checkout, .single_add_to_cart_button, .current .breadcrumb-step {
    background-color: #f30000;
}

[data-text-bg="secondary"] {
    background-color: #f30000;
}

/* Color */
.secondary.is-underline, .secondary.is-link, .secondary.is-outline, .stars a.active, .star-rating:before, .woocommerce-page .star-rating:before, .star-rating span:before, .color-secondary {
    color: #f30000
}

/* Color !important */
[data-text-color="secondary"] {
    color: #f30000 !important;
}

/* Border */
.secondary.is-outline:hover {
    border-color: #f30000
}

@media screen and (max-width: 549px) {
    body {
        font-size: 100%;
    }
}

body {
    font-family: "Questrial", sans-serif
}

body {
    font-weight: 0
}

body {
    color: #222020
}

.nav > li > a {
    font-family: "Questrial", sans-serif;
}

.mobile-sidebar-levels-2 .nav > li > ul > li > a {
    font-family: "Questrial", sans-serif;
}

.nav > li > a {
    font-weight: 0;
}

.mobile-sidebar-levels-2 .nav > li > ul > li > a {
    font-weight: 0;
}

h1, h2, h3, h4, h5, h6, .heading-font, .off-canvas-center .nav-sidebar.nav-vertical > li > a {
    font-family: "Questrial", sans-serif;
}

h1, h2, h3, h4, h5, h6, .heading-font, .banner h1, .banner h2 {
    font-weight: 0;
}

h1, h2, h3, h4, h5, h6, .heading-font {
    color: #1f1d1d;
}

.alt-font {
    font-family: "Dancing Script", sans-serif;
}

.alt-font {
    font-weight: 400 !important;
}

.header:not(.transparent) .header-nav-main.nav > li > a {
    color: #000000;
}

.header:not(.transparent) .header-nav-main.nav > li > a:hover, .header:not(.transparent) .header-nav-main.nav > li.active > a, .header:not(.transparent) .header-nav-main.nav > li.current > a, .header:not(.transparent) .header-nav-main.nav > li > a.active, .header:not(.transparent) .header-nav-main.nav > li > a.current {
    color: #f30000;
}

.header-nav-main.nav-line-bottom > li > a:before, .header-nav-main.nav-line-grow > li > a:before, .header-nav-main.nav-line > li > a:before, .header-nav-main.nav-box > li > a:hover, .header-nav-main.nav-box > li.active > a, .header-nav-main.nav-pills > li > a:hover, .header-nav-main.nav-pills > li.active > a {
    color: #FFF !important;
    background-color: #f30000;
}

a {
    color: #2a2b2c;
}

/* Custom CSS Mobile */
@media (max-width: 549px) {
    #masthead .mobile-nav .header-button span {
        white-space: nowrap;
    }

    .tdk-bottom-fixed-contact {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
    }

    .tdk-see-more-template {
        position: fixed;
        bottom: 20px;
        left: 2px;
        z-index: 100;
        max-width: 70px;
    }
}

.label-new.menu-item > a:after {
    content: "New";
}

.label-hot.menu-item > a:after {
    content: "Hot";
}

.label-sale.menu-item > a:after {
    content: "Sale";
}

.label-popular.menu-item > a:after {
    content: "Popular";
}

#image_708534635 {
    width: 100%;
}
#image_1537194299 {
    width: 46%;
}

@media (min-width: 550px) {
    #image_1537194299 {
        width: 36%;
    }
}
#image_1986946873 {
    width: 89%;
}

@media (min-width: 550px) {
    #image_1986946873 {
        width: 63%;
    }
}
#text-2142292597 {
     font-size: 1rem;
     text-align: center;
     color: rgb(132, 60, 12);
 }

#text-2142292597 > * {
    color: rgb(132, 60, 12);
}

@media (min-width: 550px) {
    #text-2142292597 {
        font-size: 1.25rem;
    }
}

#image_1939119829 {
    width: 100%;
}
#section_1256375371 {
    padding-top: 30px;
    padding-bottom: 30px;
}

#section_1256375371 .section-bg.bg-loaded {
    background-image: url(../images/7.png);
}

#section_1256375371 .section-bg {
    background-position: 30% 41%;
}

#section_1256375371 .ux-shape-divider--top svg {
    height: 150px;
    --divider-top-width: 100%;
}

#section_1256375371 .ux-shape-divider--bottom svg {
    height: 150px;
    --divider-width: 100%;
}

#text-288446285 {
    font-size: 1.3rem;
}

@media (min-width: 550px) {
    #text-288446285 {
        font-size: 1.45rem;
    }
}
#image_280776525 {
    width: 68%;
}

@media (min-width: 550px) {
    #image_280776525 {
        width: 37%;
    }
}

#text-4087397378 {
    font-size: 1rem;
    color: rgb(132, 60, 12);
}

#text-4087397378 > * {
    color: rgb(132, 60, 12);
}

@media (min-width: 550px) {
    #text-4087397378 {
        font-size: 1.2rem;
    }
}
#image_825344925 {
    width: 100%;
}

@media (min-width: 550px) {
    #image_825344925 {
        width: 52%;
    }
}
#text-2861015922 {
    font-size: 1.35rem;
    color: rgb(132, 60, 12);
}

#text-2861015922 > * {
    color: rgb(132, 60, 12);
}
#text-3804529368 {
    font-size: 1rem;
    color: rgb(132, 60, 12);
}

#text-3804529368 > * {
    color: rgb(132, 60, 12);
}

@media (min-width: 550px) {
    #text-3804529368 {
        font-size: 1.35rem;
    }
}
#image_1565182833 {
    width: 33%;
}

@media (min-width: 550px) {
    #image_1565182833 {
        width: 11%;
    }
}
#text-2566165774 {
    text-align: center;
}

@media (min-width: 550px) {
    #text-2566165774 {
        text-align: center;
    }
}
#text-1399351084 {
    text-align: center;
}

@media (min-width: 550px) {
    #text-1399351084 {
        text-align: center;
    }
}
#image_619775227 {
    width: 68%;
}

@media (min-width: 550px) {
    #image_619775227 {
        width: 37%;
    }
}
#gap-1258034882 {
    padding-top: 59px;
}
#section_909548768 {
    padding-top: 30px;
    padding-bottom: 30px;
}

#section_909548768 .section-bg.bg-loaded {
    background-image: url(../images/5-652x1024-1.png);
}

#section_909548768 .ux-shape-divider--top svg {
    height: 150px;
    --divider-top-width: 100%;
}

#section_909548768 .ux-shape-divider--bottom svg {
    height: 150px;
    --divider-width: 100%;
}
#text-643406438 {
    text-align: center;
    color: rgb(132, 60, 12);
}

#text-643406438 > * {
    color: rgb(132, 60, 12);
}
#gap-335060178 {
    padding-top: 30px;
}

#section_665227786 {
    padding-top: 30px;
    padding-bottom: 30px;
}

#section_665227786 .section-bg.bg-loaded {
    background-image: url(../images/7.png);
}

#section_665227786 .section-bg {
    background-position: 12% 32%;
}

#section_665227786 .ux-shape-divider--top svg {
    height: 150px;
    --divider-top-width: 100%;
}

#section_665227786 .ux-shape-divider--bottom svg {
    height: 150px;
    --divider-width: 100%;
}
#text-3973891066 {
    text-align: center;
    color: rgb(132, 60, 12);
}

#text-3973891066 > * {
    color: rgb(132, 60, 12);
}

#image_2128324179 {
    width: 53%;
}

@media (min-width: 550px) {
    #image_2128324179 {
        width: 40%;
    }
}

#col-713586853 > .col-inner {
    padding: 26px 0 26px 0;
    border-radius: 34px;
}
#text-102588531 {
    text-align: center;
    color: rgb(132, 60, 12);
}

#text-102588531 > * {
    color: rgb(132, 60, 12);
}
#image_2048218767 {
    width: 57%;
}

@media (min-width: 550px) {
    #image_2048218767 {
        width: 35%;
    }
}

#text-461602266 {
    font-size: 1rem;
    color: rgb(132, 60, 12);
}

#text-461602266 > * {
    color: rgb(132, 60, 12);
}

@media (min-width: 550px) {
    #text-461602266 {
        font-size: 1.15rem;
    }
}
#col-1493659125 > .col-inner {
    padding: 26px 0 26px 0;
    border-radius: 34px;
}

#section_1899346506 {
    padding-top: 30px;
    padding-bottom: 30px;
}

#section_1899346506 .section-bg.bg-loaded {
    background-image: url(../images/g-651x1024-1.png);
}

#section_1899346506 .ux-shape-divider--top svg {
    height: 150px;
    --divider-top-width: 100%;
}

#section_1899346506 .ux-shape-divider--bottom svg {
    height: 150px;
    --divider-width: 100%;
}
#image_1123341282 {
    width: 100%;
}
#image_106647652 {
    width: 54%;
}

@media (min-width: 550px) {
    #image_106647652 {
        width: 39%;
    }
}
#image_1634258857 {
    width: 70%;
}

#gap-1502728410 {
    padding-top: 20px;
}
#image_1518955354 {
    width: 74%;
}

@media (min-width: 550px) {
    #image_1518955354 {
        width: 65%;
    }
}

#image_891004462 {
    width: 100%;
}

#image_1084610409 {
    width: 43%;
}

@media (min-width: 550px) {
    #image_1084610409 {
        width: 30%;
    }
}
#image_1426010263 {
    width: 70%;
}

#gap-1724207135 {
    padding-top: 20px;
}
#image_1409543694 {
    width: 74%;
}

@media (min-width: 550px) {
    #image_1409543694 {
        width: 58%;
    }
}
#image_997342223 {
    width: 64%;
}

@media (min-width: 550px) {
    #image_997342223 {
        width: 55%;
    }
}
#text-2499306601 {
    font-size: 1rem;
    color: rgb(132, 60, 12);
}

#text-2499306601 > * {
    color: rgb(132, 60, 12);
}

@media (min-width: 550px) {
    #text-2499306601 {
        font-size: 1.25rem;
    }
}
#section_1650682877 {
    padding-top: 30px;
    padding-bottom: 30px;
}

#section_1650682877 .section-bg.bg-loaded {
    background-image: url(../images/7.png);
}

#section_1650682877 .ux-shape-divider--top svg {
    height: 150px;
    --divider-top-width: 100%;
}

#section_1650682877 .ux-shape-divider--bottom svg {
    height: 150px;
    --divider-width: 100%;
}

#image_1787140692 {
    width: 100%;
}

#col-1383008484 > .col-inner {
    margin: 29px 0 0 15px;
}

#image_1748079119 {
    width: 100%;
}

#image_249554599 {
    width: 100%;
}

#col-789948012 > .col-inner {
    margin: -15px 0 0 0;
}
#image_626187209 {
    width: 100%;
}

#col-2052877727 > .col-inner {
    margin: -69px 0 0 -15px;
}

@media (min-width: 550px) {
    #col-2052877727 > .col-inner {
        margin: -82px 0 0 -15px;
    }
}
#gap-1398425732 {
    padding-top: 92px;
}

#image_917875995 {
    width: 83%;
}

@media (min-width: 550px) {
    #image_917875995 {
        width: 84%;
    }
}
#text-2114801263 {
    font-size: 0.9rem;
}

@media (min-width: 550px) {
    #text-2114801263 {
        font-size: 1.1rem;
    }
}
#col-1260100440 > .col-inner {
    padding: 0 0 93px 0;
}
#section_1208865660 {
    padding-top: 30px;
    padding-bottom: 30px;
}

#section_1208865660 .section-bg.bg-loaded {
    background-image: url(../images/9.png);
}

#section_1208865660 .ux-shape-divider--top svg {
    height: 150px;
    --divider-top-width: 100%;
}

#section_1208865660 .ux-shape-divider--bottom svg {
    height: 150px;
    --divider-width: 100%;
}
#image_1074438493 {
    width: 88%;
}

@media (min-width: 550px) {
    #image_1074438493 {
        width: 77%;
    }
}

#text-377649577 {
    font-size: 0.9rem;
    text-align: center;
}

@media (min-width: 550px) {
    #text-377649577 {
        font-size: 1.1rem;
    }
}
#col-1703288042 > .col-inner {
    margin: 0 0 0 0;
}

@media (min-width: 550px) {
    #col-1703288042 > .col-inner {
        margin: 0 0 0 43px;
    }
}

#image_480961425 {
    width: 100%;
}
#col-1902473241 > .col-inner {
    margin: -0px 0 0 0;
}

#image_2027976368 {
    width: 100%;
}

#col-967928451 > .col-inner {
    margin: 29px 0 0 -15px;
}

@media (min-width: 550px) {
    #col-967928451 > .col-inner {
        margin: 20px 0 0 -15px;
    }
}

#image_1083088898 {
    width: 100%;
}

#col-1195595625 > .col-inner {
    margin: -61px 0 0 15px;
}

@media (min-width: 550px) {
    #col-1195595625 > .col-inner {
        margin: -78px 0 0 15px;
    }
}

#image_2057560807 {
    width: 100%;
}

#col-85747300 > .col-inner {
    margin: -16px 0 0 0;
}


#section_1978064251 {
    padding-top: 30px;
    padding-bottom: 30px;
}

#section_1978064251 .section-bg.bg-loaded {
    background-image: url(../images/9-1.png);
}

#section_1978064251 .ux-shape-divider--top svg {
    height: 150px;
    --divider-top-width: 100%;
}

#section_1978064251 .ux-shape-divider--bottom svg {
    height: 150px;
    --divider-width: 100%;
}

#image_1156872048 {
    width: 100%;
}

#col-955632415 > .col-inner {
    margin: -15px 0 0 0;
}

#image_550774675 {
    width: 100%;
}

#col-1737416801 > .col-inner {
    margin: 5px 0 0 -8px;
}

#image_1240040643 {
    width: 100%;
}

#col-1875211822 > .col-inner {
    margin: 25px 0 0 -16px;
}

#image_1617436702 {
    width: 66%;
}

@media (min-width: 550px) {
    #image_1617436702 {
        width: 77%;
    }
}

#text-1980507328 {
    font-size: 0.9rem;
}

@media (min-width: 550px) {
    #text-1980507328 {
        font-size: 1.1rem;
    }
}
#image_801376388 {
    width: 100%;
}

#image_892646144 {
    width: 100%;
}

#col-1023306365 > .col-inner {
    margin: 56px 0 0 -45px;
}
#col-1830648078 > .col-inner {
    margin: 0 0 0 12px;
}

#section_1140300934 {
    padding-top: 30px;
    padding-bottom: 30px;
}

#section_1140300934 .section-bg.bg-loaded {
    background-image: url(../images/000-1.png);
}

#section_1140300934 .ux-shape-divider--top svg {
    height: 150px;
    --divider-top-width: 100%;
}

#section_1140300934 .ux-shape-divider--bottom svg {
    height: 150px;
    --divider-width: 100%;
}
#image_1941950754 {
    width: 28%;
}

#text-634906495 {
    text-align: center;
    color: rgb(132, 60, 12);
}

#text-634906495 > * {
    color: rgb(132, 60, 12);
}

#text-83551806 {
    font-size: 1rem;
    text-align: center;
    color: rgb(132, 60, 12);
}

#text-83551806 > * {
    color: rgb(132, 60, 12);
}

@media (min-width: 550px) {
    #text-83551806 {
        font-size: 0.95rem;
    }
}

#image_309921504 {
    width: 35%;
}

.wpcf7-spinner {
    position: absolute;
}

input.wpcf7-submit.button {
    background-color: #843C0C;
}
#text-2439694391 {
    font-size: 1rem;
    text-align: left;
    color: rgb(132, 60, 12);
}

#text-2439694391 > * {
    color: rgb(132, 60, 12);
}

@media (min-width: 550px) {
    #text-2439694391 {
        font-size: 1.25rem;
    }
}

#section_1277702926 {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(244, 226, 211);
}

#section_1277702926 .ux-shape-divider--top svg {
    height: 150px;
    --divider-top-width: 100%;
}

#section_1277702926 .ux-shape-divider--bottom svg {
    height: 150px;
    --divider-width: 100%;
}

#image_380309204 {
    width: 90%;
}

@media (min-width: 550px) {
    #image_380309204 {
        width: 100%;
    }
}

#text-1516000835 {
    font-size: 1.35rem;
    text-align: center;
    color: rgb(132, 60, 12);
}

#text-1516000835 > * {
    color: rgb(132, 60, 12);
}

#text-691344153 {
    text-align: center;
    color: rgb(132, 60, 12);
}

#text-691344153 > * {
    color: rgb(132, 60, 12);
}

#text-2712952335 {
    text-align: center;
}

@media (min-width: 550px) {
    #text-2712952335 {
        text-align: center;
    }
}

#col-71704072 > .col-inner {
    padding: 0 0 0 0;
}

@media (min-width: 550px) {
    #col-71704072 > .col-inner {
        padding: 30px 0 0 0;
    }
}
.diary-text {
    color: rgb(0, 0, 0) !important;
}

.diary-text > * {
    color: rgb(0, 0, 0) !important;
}
.diary-col > .col-inner {
    padding: 20px 40px 1px 30px;
}
#list-diary .row:nth-child(even) .col-inner {
    background-color: rgba(186, 133, 81, 0.366);
}
#text-2240658811 {
    color: rgb(0, 0, 0);
}

#text-2240658811 > * {
    color: rgb(0, 0, 0);
}

#col-411978285 > .col-inner {
    padding: 20px 40px 1px 30px;
}

#text-1785666726 {
    color: rgb(0, 0, 0);
}

#text-1785666726 > * {
    color: rgb(0, 0, 0);
}

#col-1214649118 > .col-inner {
    padding: 20px 40px 1px 30px;
}

#text-1317795285 {
    color: rgb(0, 0, 0);
}

#text-1317795285 > * {
    color: rgb(0, 0, 0);
}

#col-858223254 > .col-inner {
    padding: 20px 40px 1px 30px;
}

#col-2023408174 > .col-inner {
    margin: 0 0 0 0;
    border-radius: 10px;
}

@media (min-width: 550px) {
    #col-2023408174 > .col-inner {
        margin: 0 0 0 20px;
    }
}
#col-621944970 > .col-inner {
    padding: 0 0 0 0;
    margin: -30px 0 0 0;
}

@media (min-width: 550px) {
    #col-621944970 > .col-inner {
        padding: 7px 0 0 0;
    }
}
#section_547478909 {
    padding-top: 30px;
    padding-bottom: 30px;
}

#section_547478909 .section-bg.bg-loaded {
    background-image: url(../images/7.png);
}

#section_547478909 .section-bg {
    background-position: 0 9%;
}

#section_547478909 .ux-shape-divider--top svg {
    height: 150px;
    --divider-top-width: 100%;
}

#section_547478909 .ux-shape-divider--bottom svg {
    height: 150px;
    --divider-width: 100%;
}

#text-3899844150 {
    font-size: 1.35rem;
    text-align: center;
    color: rgb(132, 60, 12);
}

#text-3899844150 > * {
    color: rgb(132, 60, 12);
}

#text-587010218 {
    font-size: 1rem;
    text-align: center;
    color: rgb(132, 60, 12);
}

#text-587010218 > * {
    color: rgb(132, 60, 12);
}

@media (min-width: 550px) {
    #text-587010218 {
        font-size: 1.1rem;
    }
}

#col-1662868491 > .col-inner {
    padding: 8px 0 0 0;
    margin: 0 0 0 4px;
}

@media (min-width: 550px) {
    #col-1662868491 > .col-inner {
        margin: 0 0 0 -21px;
    }
}

#image_1329499392 {
    width: 100%;
}

#image_1277489280 {
    width: 100%;
}

#image_551988963 {
    width: 100%;
}

#image_2130760965 {
    width: 100%;
}

#image_2118008393 {
    width: 100%;
}
#image_396642518 {
    width: 100%;
}

#image_1253228591 {
    width: 100%;
}

#image_307543603 {
    width: 100%;
}

#image_523382549 {
    width: 100%;
}

#image_555516560 {
    width: 100%;
}

#image_1537292848 {
    width: 100%;
}
#image_1589539023 {
    width: 100%;
}
#image_661847367 {
    width: 100%;
}

#image_597045680 {
    width: 100%;
}

#image_236857605 {
    width: 100%;
}

#image_285012623 {
    width: 100%;
}

#image_1216750995 {
    width: 100%;
}
#section_1003099612 {
    padding-top: 30px;
    padding-bottom: 30px;
}

#section_1003099612 .section-bg.bg-loaded {
    background-image: url(../images/v.png);
}

#section_1003099612 .section-bg {
    background-position: 0 3%;
}

#section_1003099612 .ux-shape-divider--top svg {
    height: 150px;
    --divider-top-width: 100%;
}

#section_1003099612 .ux-shape-divider--bottom svg {
    height: 150px;
    --divider-width: 100%;
}

#image_117567612 {
    width: 90%;
}

@media (min-width: 550px) {
    #image_117567612 {
        width: 100%;
    }
}

#text-4191734015 {
    font-size: 1.35rem;
    text-align: center;
    color: rgb(132, 60, 12);
}

#text-4191734015 > * {
    color: rgb(132, 60, 12);
}

#text-24289797 {
    text-align: center;
    color: rgb(132, 60, 12);
}

#text-24289797 > * {
    color: rgb(132, 60, 12);
}

#text-2239621351 {
    font-size: 1.15rem;
}

#image_110217873 {
    width: 32%;
}

#image_25497796 {
    width: 100%;
}
#text-3043819417 {
    font-size: 1.15rem;
}
#image_1119212368 {
    width: 32%;
}
#section_1532381932 {
    padding-top: 30px;
    padding-bottom: 30px;
}

#section_1532381932 .section-bg.bg-loaded {
    background-image: url(../images/7.png);
}

#section_1532381932 .section-bg {
    background-position: 0 9%;
}

#section_1532381932 .ux-shape-divider--top svg {
    height: 150px;
    --divider-top-width: 100%;
}

#section_1532381932 .ux-shape-divider--bottom svg {
    height: 150px;
    --divider-width: 100%;
}


.img .img-inner {
    border-radius: 10px;
}

body, h1, h2, h3, h4, h5, h6, .heading-font {

    font-family: 'Cormorant', serif;

}



















